# Spam Classification

## Importing Modules

In [1]:
import pandas as pd
import nltk

## Dataset

In [2]:
dataset = pd.read_csv("./spam.csv", encoding="latin-1")

In [3]:
dataset.head(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
dataset.shape

(5572, 5)

In [5]:
dataset.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace=True)

In [6]:
dataset.rename(columns={'v1':'class', 'v2':'sms'}, inplace=True)
dataset.sample(5)

     class                                                sms
1172   ham                            Happy new years melody!
972    ham              Yup i thk so until e shop closes lor.
5306   ham  Ill be at yours in about 3 mins but look out f...
2842   ham  Tunji, how's the queen? how are you doing. Thi...
5379   ham  Somebody set up a website where you can play h...

In [7]:
dataset.groupby('class').describe()

        sms
      count unique                                                top freq
class
ham    4825   4516                             Sorry, I'll call later   30
spam    747    653  Please call our customer service representativ...    4

In [8]:
dataset = dataset.drop_duplicates(keep='first')

In [9]:
dataset.groupby('class').describe()

        sms
      count unique                                                top freq
class
ham    4516   4516  Go until jurong point, crazy.. Available only ...    1
spam    653    653  Free entry in 2 a wkly comp to win FA Cup fina...    1